:root {
  --primary-color: #0bc734;
  --secondary-color: #0bc798;
  --negative-color: #f33b3b;
  --backround-color: #383838;
  --backround-color-dark: #272727;
  --backround-color-trans: #38383800;
  --backround-highlight: #464444;
  --foreground-font-color: #ffffff;
  --foreground-font-color-secondary: #757474;
  --highlight-thickness: 3px;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  
  color: var(--foreground-font-color);
  background-color: var(--backround-color);
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  /* padding-top: 10vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}

.row {
  display: flex;
  justify-content: center;
}
.left-row {
  display: flex;
  justify-content: left;
}
.thin-label {
  font-weight: bold;
  color: var(--foreground-font-color-secondary);
  margin: 0em;
}
.tag {
  display: inline-flex;
  padding: 0px 7px;
  height: 25px;
  border-radius: 50px;
  border-width: var(--highlight-thickness);
  background-color: var(--backround-color-dark);
  color: var(--foreground-font-color);
  font-size: 14px;
  font-weight: bold;
  text-align: justify;
  vertical-align: middle;
  align-items: center;
  margin-right: 8px;
  margin-top: 10px;
  cursor: pointer;
  min-width: 3em;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  justify-content: center;
}
.tag p {
  position: relative;
  top: 2.5px;
}
.box {
  background-color: var(--backround-highlight);
  border-radius: 10px;
  border: var(--highlight-thickness) solid var(--backround-highlight);
  padding: 5px;
  margin-top: 1em;
  width: 30em; 
  word-wrap: break-word;
  white-space: pre-wrap;
  text-align: left;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  transition: border-color 0.25s;
  z-index: 0;
}
.box:focus {
  border-color: var(--primary-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
  transition: border-color 0.25s;
}
.box:hover {
  border-color: var(--primary-color);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
  transition: transform 0.2s ease-in-out;
  transition: border-color 0.25s;
}
.action-button {
  top: 0em;
  right: 0em;
  display: inline-block;
  padding: 0em 4px;
  border-radius: 25px;
  background-color: var(--backround-color);
  color: var(--foreground-font-color-secondary);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  justify-content: center;
}
.action-button {
  display: inline-block;
  padding: 0em 0px;
  border-radius: 25px;
  background: none;
  font-size: 20px;
  border: none;
  box-shadow: none;
}
button:hover .delete-icon{
  fill: var(--negative-color);
}
button:focus .delete-icon{
  fill: var(--negative-color);
}
.delete-icon {
  fill: var(--foreground-font-color-secondary);
}
button:hover .exit-icon{
  fill: var(--foreground-font-color);
}
button:focus .exit-icon{
  fill: var(--foreground-font-color);
}
.exit-icon {
  fill: var(--foreground-font-color-secondary);
}
button:hover .save-icon{
  fill: var(--primary-color);
}
button:focus .save-icon{
  fill: var(--primary-color);
}
.save-icon {
  fill: var(--foreground-font-color-secondary);
}

.remove-tag:hover {
  color: var(--negative-color);
  border-color: var(--negative-color);
}
.remove-tag:focus {
  color: var(--negative-color);
  border-color: var(--negative-color);
}
.remove-icon {
  fill: var(--foreground-font-color-secondary);
}
button:hover .remove-icon {
  fill: var(--negative-color);
}
button:focus .remove-icon {
  fill: var(--negative-color);
}

.apply-tag:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.apply-tag:focus {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.apply-icon {
  fill: var(--foreground-font-color-secondary);
}
button:hover .apply-icon {
  fill: var(--primary-color);
}
button:focus .apply-icon {
  fill: var(--primary-color);
}
.text-area{
  border-radius: 10px;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: 0.5em;
  word-wrap: break-word;
  white-space: pre-line;
  text-align: left;
}
.action-buttons {
  display: flex;
  justify-content: space-between;
}
.date-label {
  color: var(--foreground-font-color-secondary);
  text-align: left;
  margin: 0em;
  font-weight: bold;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-content {
  background-color: var(--backround-highlight);
  border-radius: 10px;
  border: var(--highlight-thickness) solid var(--backround-highlight);
  padding: 5px;
  margin-top: 0em;
  width: 30em; 
  max-height: 40em;
  word-wrap: break-word;
  white-space: pre-line;
  text-align: left;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow-y: scroll;
  scrollbar-color: var(--foreground-font-color-secondary) var(--foreground-font-color-secondary);
}
.action-buttons {
  display: flex;
  justify-content: space-between;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
p {
  margin: 0em;
  white-space: pre-wrap;
}
a:hover {
  color: #535bf2;
}

h1 {
  text-align: center;
}

input,
button {
  border-radius: 10px;
  border: var(--highlight-thickness) solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: var(--foreground-font-color);
  background-color: var(--backround-color-dark);
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}
input:focus {
  border-color: var(--primary-color);
}
button:hover {
  border-color: var(--primary-color);
}
button:focus {
  border-color: var(--primary-color);
}
button:disabled {
  background-color: var(--backround-color);
  border-color: var(--backround-color);
  color: var(--backround-highlight);
}
textarea {
  border-radius: 10px;
  background-color: var(--backround-color-dark);
  width: 28.7em;
  min-height: 7em;
  font-size: 16px;
  color: var(--foreground-font-color);
  border-width: var(--highlight-thickness);
  border-color: var(--backround-color-dark);
  padding: 10px;
  resize: none;
  overflow-y: scroll;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
textarea:focus-visible {
  outline: none;
  border-color: var(--primary-color);
}
::placeholder {
  color: var(--foreground-font-color-secondary);
  font-weight: bold;
}
input,
button {
  outline: none;
}
input {
  width: 500px;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: var(--foreground-font-color);
    background-color: var(--backround-color);
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: var(--foreground-font-color);
    background-color: var(--backround-color-dark);
  }
}
